body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
nav {
    display: flex;
    justify-content: center;
    background: #ddd;
    padding: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav a {
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}
nav a:hover {
    background: #ccc;
}
.home-icon {
    width: 24px;
    height: 24px;
    fill: black;
}
.home-link:hover .home-icon {
    fill: #008CBA;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-button {
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
    right: 0;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-button:hover {
    background-color: #ccc;
}
.hero {
    background: #008CBA;
    color: white;
    padding: 50px 20px;
    text-align: center;
    margin-top: 75px;
}
.hero h1 {
    margin: 0;
    font-size: 2.5em;
}
.hero p {
    font-size: 1.2em;
}
.box-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eef6fc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}
.media-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}
.box-card img, 
.box-card video {
    object-fit: cover;
    border-radius: 10px;
}
.box-card h3 {
    margin-bottom: 15px;
    color: black;
}
.box-card p {
    margin-top: 15px;
    color: black;
    font-size: 1em;
    max-width: 90%;
}
@media (max-width: 800px) {
    .media-container {
        flex-direction: column;
        align-items: center;
    }
    .box-card img,
    .box-card video {
        max-width: 100%;
    }
}
.box-card ul {
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    list-style-type: disc;
}
.box-card a {
    text-decoration: none;
}
.box-card a:hover {
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 20px;
    background: #f0f0f0;
    color: black;
    margin-top: 20px;
}
.footer-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.footer-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}
.footer-button svg {
    width: 40px;
    height: 40px;
    fill: black;
}
.footer-button:hover svg {
fill: #008CBA;
}
.footer-button:hover .email-path {
stroke: #008CBA;
}
@media (max-width: 768px) and (orientation: landscape) {
    .hero h1 {
        font-size: 1.8em;
    }
    .box-card h3 {
        font-size: 1.5em; 
    }
    .box-card p {
        font-size: 0.7em;
    }
}
/* Resume */
.resume-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 00px;
    text-align: center;
}
.resume-container object {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
/* Homepage */
.photo-section {
    text-align: center;
    margin: 40px 0;
}
.photo-section img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
    border: 3px solid #008CBA;
}
.desc {
    background: #008CBA;
    color: white;
    padding: 50px 20px;
    text-align: center;
}
.desc p {
    font-size: 1.2em;
    max-width: 1000px;
    margin: 0 auto;
}
.desc a {
    color: rgb(255, 244, 224);
    text-decoration: none;
    font-weight: bold;
}
.desc a:hover {
    color: orange;
    text-decoration: underline;
}
/* Projects */
.projects-container {
    max-width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    place-items: center;
    max-width: 1080px;
}
@media (max-width: 1000px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}
.project-card {
    background: #eef6fc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: black;
    max-width: 500px;
}
.project-card:hover {
    transform: scale(1.05);
}
.project-card img {
    max-width: 99%;
    width: 500px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}
.project-card h3 {
    margin: 15px 0 10px;
    color: black;
}